
body {
  background-color: #5e1d80; 
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('neirons.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed;
}


main {
  background-color: rgb(18, 10, 160); 
  width: 60%; 
  margin: 20px auto; 
  padding: 20px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px; 
  box-sizing: border-box; 
  margin-top: 150px;
  border: 2px solid black ;
}


main h2 {
  text-align: center;
  color: white;
  margin-top: 0; 
  font-family: 'Ruslan Display', cursive; 
}

header {
  background-color: rgba(25, 5, 114, 1); 
  padding: 20px;
  text-align: center;
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%; 
  z-index: 1000; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  
}

header h1 {
  font-family: 'Ruslan Display', cursive;
  font-size: 3em;
  color: #0c92b4; 
  margin: 0;
}


nav {
  background-color: #0c92b4; 
  padding: 5px 0;
  border-radius: 15px;
  margin-top: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  
  
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 12px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  transition: text-decoration 0.3s ease-in-out;
}

nav ul li a:hover {
  text-decoration: underline;
}


footer {
  background-color: rgba(25, 5, 114, 1); 
  padding: 10px;
  text-align: center;
  bottom: 0;
  width: 100%;

}

footer p {
  color: #098692; 
  margin: 0;
}

.task-container {
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f4f4f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 2px solid black;
}


.task {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.answer-btn {
  position: relative;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #0c92b4; 
  color: white; 
  border-radius: 5px;
  overflow: hidden;
  transition: background-color 0.3s; 
  width: 200px;
  transition: background-color 0.3s, transform 0.3s;
}

.answer-btn:hover {
  background-color: #0f0d90; 
  transform: scale(1.1);
}

.hover-text {
  display: none; 
}

.answer-btn:hover .default-text {
  display: none; 
}

.answer-btn:hover .hover-text {
  display: inline; 
}

.vesi{
  height: 200px;
  width: 200px;

}